<!DOCTYPE html>
                Watch Lecture

            </a>

        </div>

        <div class="book-card book-item">

            <h2>📊 Data Science</h2>

            <p>Statistics, Pandas, NumPy and visualization.</p>

            <a href="https://www.kaggle.com/learn"
            target="_blank"
            class="btn">

                Read Notes

            </a>

            <a href="https://www.youtube.com/watch?v=ua-CiDNNj30"
            target="_blank"
            class="btn">

                Watch Lecture

            </a>

        </div>

    </div>

</div>

<script>

function searchBooks(){

    let input =
    document.getElementById("searchInput").value.toLowerCase();

    let cards =
    document.getElementsByClassName("book-item");

    for(let i = 0; i < cards.length; i++){

        let text = cards[i].innerText.toLowerCase();

        if(text.includes(input)){

            cards[i].style.display = "block";

        }

        else{

            cards[i].style.display = "none";

        }

    }

}

</script>

</body>
</html>