<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>GATE Preparation</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<style>

body{

background:#0f172a;
color:white;
font-family:Arial;
margin:0;
padding:0;

}

.container{

width:90%;
max-width:1000px;
margin:auto;
padding:40px;

}

.box{

background:#1e293b;
padding:30px;
border-radius:20px;

}

h1{

color:#38bdf8;

}

li{

margin-top:15px;
font-size:20px;

}

a{

display:inline-block;
margin-top:25px;
padding:12px 20px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:10px;

}

</style>

</head>

<body>

<div class="container">

<div class="box">

<h1>⚡ GATE Preparation Roadmap</h1>

<ul>

<li>📘 Study Core Subjects</li>

<li>📄 Practice PYQs</li>

<li>🧠 Daily Revision</li>

<li>📝 Mock Tests</li>

<li>🎯 Time Management</li>

</ul>

<a href="/planner">

⬅ Back To Planner

</a>

</div>

</div>

</body>
</html>