<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-site-verification" content="UE4R0Wo4502c_lxt8UrAEuKHNHhigCFWg_OfGSRdmXQ" />

    <title>Manjora AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>🚀 AI EDU MENTOR</h1>

        <p>
            Smart Learning Platform for Students, UPSC Aspirants & Professionals
        </p>

        <div class="card-container">

            <div class="card">

                <h2>📚 UPSC Guidance</h2>

                <p>
                    Study plans, current affairs, booklists and strategy.
                </p>

            </div>

            <div class="card">

                <h2>💻 Programming</h2>

                <p>
                    Learn coding, DSA, projects and placements.
                </p>

            </div>

            <div class="card">

                <h2>🎯 Career Roadmaps</h2>

                <p>
                    Personalized learning paths for every career goal.
                </p>

            </div>

        </div>

        <a href="/login">

            <button>
                Start Learning
            </button>

        </a>

    </div>

</body>

</html>